/* Coolors Exported Palette - coolors.co/d81159-8f2d56-218380-fbb13c-73d2de */

/* HSL */
$color1: hsla(338%, 85%, 46%, 1);
$color2: hsla(335%, 52%, 37%, 1);
$color3: hsla(178%, 60%, 32%, 1);
$color4: hsla(37%, 96%, 61%, 1);
$color5: hsla(187%, 62%, 66%, 1);

/* RGB */
$color1: rgba(216, 17, 89, 1); #D81159
$color2: rgba(143, 45, 86, 1); #8F2D56
$color3: rgba(33, 131, 128, 1); #218380
$color4: rgba(251, 177, 60, 1); #FBB13C
$color5: rgba(115, 210, 222, 1); #73D2DE